
.pcolor{
  align-self: flex-start;
  color :black ;
  font: optional;
  font-size: 24px;
  padding-left: 2em;
}
.p-color{
  align-self: flex-end;
  padding-left: 400px;
  font-size: 24px;
}

button.icon{
  color: rgb(37, 20, 190);
    /* margin-top: 0; */
    padding-right: 2em;
    align-self: flex-end;
  
}

footer{
  border: none;
  background-color: transparent;
  /* border-bottom-style: solid; */
  align-self: center;
  
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.avatar{
  padding-left: 50px;
  align-self: flex-start;
  color :black ;
}
ul i:hover { 
 color:rgb(131, 131, 56);
}

.name-of-avatar{


  color :black ;
}
.handle{
  /* padding-top :80px; */
  padding-right:50px;
  color :black ;
}

/* .footer-adjust{
  width: 100%;
  background-color: rgb(33, 24, 153);
} */
.line{

  width: 100%;
  border-color: teal ;
  
}
  .tweet:hover {
  /* overflow: hidden; */
  box-shadow: 0.5rem 0.5rem rgb(23, 41, 124), -0.5rem -0.5rem rgb(2, 20, 36);
}
.tweet{
  width: 80%;
  margin: 20px;
  margin-left: 60px;
  border: black 3em;
  height: 350px;
  background-color: rgb(194, 115, 154);
  border: black solid 3px;
}
.header_name{
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar_name{
  display: flex;
  align-items: center;
}

#error{
  padding :0  0  0 2em ;
  display: none;
 border:red ; 
 border-radius: 4em;
 border-style: solid;
} 




